body{
    width: 100%;
    height: 100%;
}

*{
    margin: 0
}
.line{
    margin-top:10em;
    margin-left: auto;
    margin-right: auto;
    max-width: 30px;
    border:none;
    border-top: 5px solid #f05f44;
}
.header h3{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.6em;
    margin:0.4em 0em 0.2em 0em;
    color: palevioletred;
}
.header h1{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3em;
    letter-spacing: 0.07em;
    color: rgb(120, 42, 42);
    margin-top: 0.4em
}
.line2{
    margin-top:5em;
    max-width: 30px;
    border:none;
    border-top: 5px solid #f05f44;
}
.talk, .swiper-container{
    margin-left:9%
}
.talk h3{
    text-align: left;
    margin-top:0.4em;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 1.6em;
}
.talk h1{
    text-align: left;
    text-transform: capitalize;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3em;
    letter-spacing: 0.07em;
    margin-top:0.5em
}
.talk p{
    font-family: cursive;
    font-size: 1.2em;
    margin-top:1em;
    width:55%;
    color:#666666
}
.swiper-container{
    margin-top: 2em;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.swiper-slide{
    margin:0.5em;
    background-color: white;
    width:270px;
    text-align: center
}
.swiper-slide p, .swiper-slide h6 {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.swiper-slide h6 {
    font-size: 1.5em
}
.swiper-slide p{
    font-size: 1.2em
}
.swiper-slide img{
    width: 270px;
    height: 300px;
    background: white;
    margin-bottom: 1.5em
}
.nav{
    text-align: right;
    width:100%;
}
.menu{
    text-transform: uppercase;
    margin:2em 0em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1em
}
.menu a{
    margin:0em 0.4em;
    display: inline;
    padding:0.6em 0.8em;
    color:black;
    background-color: #F8F8F8;
    text-decoration: none
}
.menu a:hover{
    background-color:rgb(255, 192, 203);
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out
}
.menu a:last-child{
    margin-right: 9em
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center

}
.container p, .container h6 {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.container h6 {
    font-size: 1.5em
}
.container p{
    font-size: 1.2em
}
.first,.second,.third,.fourth,.fifth,.sixth,.seventh,.eighth{
    width:300px;
    margin:2em 1em;
    text-align: center;
    cursor: pointer;
}
.container img{
    width:300px;
    height: 300px;
    margin-bottom: 1.5em
}
.first:hover,.second:hover,.third:hover,.fourth:hover,.fifth:hover,.sixth:hover,.seventh:hover,.eighth:hover{
    transform: scale(1.15)
}
.end{
    font-size: 1.5em;
    text-align: right;
    width: 100%;
    margin-right:4em;
    padding:2em;
}
.navlist{
    list-style: none
}
li{
    display: inline-block;
    text-decoration: none;
    margin: 0.2em;
    color:#808080;
}
li:hover{
    color:#404040;
    cursor: pointer;
}
.arrow{
    margin-top:0px;
    cursor: pointer
}
.row img{
    width:20px;
    height:25px
}
.line3{
    margin-top:5em;
    max-width: 30px;
    border:none;
    border-top: 5px solid #f05f44;
    margin-left: auto;
    margin-right: auto;
}
.reserve h3{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.6em;
    margin:0.4em 0em 0.2em 0em;
    color: palevioletred;
}
.reserve h1{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3em;
    letter-spacing: 0.02em;
    color: rgb(120, 42, 42);
    margin-top: 0.4em
}
.reserve p{
    font-family: cursive;
    font-size: 1.2em;
    margin-top:1em;
    text-align: center;
    color:#666666
}
form{
    margin: 3em 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form{
    border: 1px solid transparent;
    width:250px;
    padding:0.3em 0.1em;
    font-size: 1em;
    color:#888888;
    background-color:#fafafa ;
    margin: 0.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
textarea{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: 1px solid transparent;
    height:200px;
    padding:0.3em 0.3em;
    font-size: 1em;
    color:#888888;
    background-color:#fafafa ;
    margin: 1em 5em;
    width:80%
}
.wait{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width:170px ;
    cursor: pointer;
    border:none;
    color:white;
    background-color: rgb(175, 42, 42);
    padding:1em 0em;
    font-size: 1.1em;
}
.arrow2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width:50px ;
    cursor: pointer;
    border:none;
    color:black;
    background-color: bisque;
    padding:1em 0em;
    font-size: 1.1em;
}
