.talk{
    margin-left:12%
}
.swiper-container{
    margin-left: 0
}
.talk p{
    font-size: 1em;
    width:70%;
}
.menu{
    font-size: 0.8em
}
.menu a{
    margin:0em 0.3em;
    padding:0.6em 0.8em;
}
.menu a:last-child{
    margin-right: 5em
}
.swiper-container{
    justify-content: center
}
.reserve h1 {
    font-size: 2.5em;
    letter-spacing: 0.01em;
}
.reserve p{
    font-size: 1em;
}
textarea{
    margin: 1em 2em;
    width:100%
}
.wait{
    width:150px ;
    font-size: 0.9em;
}
.arrow2{
    width:40px ;
    font-size: 0.9em;
}
