body{
    width: 100%;
    height: 100%;
}

*{
    margin: 0
}


.header h3{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.6em;
    margin:0.7em 0em 0.2em 0em;
    color: palevioletred
}

.header h1{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3em;
    letter-spacing: 0.07em;
    color: rgb(120, 42, 42)
}

.nav{
    text-align: right;
    width:100%;
}
#toggle{
    display: none
}
label{  
    display: none
}
.menu{
    text-transform: uppercase;
    margin:2em 0em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.2em
}
.menu a{
    margin:0em 0.5em;
    display: inline;
    padding:0.6em 1em;
    color:black;
    background-color: #F8F8F8;
    text-decoration: none
}
.menu a:hover{
    background-color:rgb(255, 192, 203);
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out
}
.menu a:last-child{
    margin-right: 2em
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center

}
.container p, .container h6 {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.container h6 {
    font-size: 1.5em
}
.container p{
    font-size: 1.2em
}
.first,.second,.third,.fourth,.fifth,.sixth,.seventh,.eighth{
    width:300px;
    margin:2em 1em;
    text-align: center;
    cursor: pointer;
}
img{
    width:300px;
    height: 300px;
    margin-bottom: 1.5em
}
.first:hover,.second:hover,.third:hover,.fourth:hover,.fifth:hover,.sixth:hover,.seventh:hover,.eighth:hover{
    transform: scale(1.15)
}
.end{
    font-size: 1.5em;
    text-align: right;
    width: 100%;
    margin-right:4em;
    padding:2em;
}
.navlist{
    list-style: none
}
li{
    display: inline-block;
    text-decoration: none;
    margin: 0.2em;
    color:#808080;
}
li:hover{
    color:#404040;
    cursor: pointer;
}
.arrow{
    margin-top:0px;
    cursor: pointer
}
.row img{
    width:20px;
    height:25px
}